
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Look for a ride</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel= "stylesheet" href="stylesheet.css">
  </head>

  <body>

              <div class="cover-container">

                    <div class="masthead clearfix">
                      <div class="inner">
                        <h3 class="masthead-brand">InfoTrack</h3>
                        <nav class="nav nav-masthead">
                          <a class="nav-link active" href="#">Home</a>
                          <a class="nav-link" data-toggle="modal" data-target="#login-modal"  href="#">lOGIN</a>
                          <a class="nav-link" href="#">SIGNUP</a>
                        </nav>
                      </div>
                    </div>


                    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                         <div class="modal-dialog">
                               <div class="loginmodal-container">
                                      <h1>Login to Your Account</h1><br>
                                          <form>
                                            <input type="text" name="user" placeholder="Username">
                                            <input type="password" name="pass" placeholder="Password">
                                            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                                          </form>

                                          <div class="login-help">
                                                 <a href="#">Register</a> - <a href="#">Forgot Password</a>
                                          </div>
                               </div>
                           </div>
                      </div>


              <div class="jumbotron">
                <h1 class="display-1">Make Your Life Different</h1>
                <p class="font-weight-bold"> Life is better when you share the ride! Here is a place where you can find a different way to live</p>
                <div><a class="btn btn-lg btn-secondary" href="#" role="button">Post a lift </a> <a class="btn pull-right btn-lg btn-secondary" href="#" role="button">Find a lift </a></div>
              </div>

              <h2 class="text-left">Recent posts:</h2>

              <div class="row marketing">

                <div class="col-lg-6">
                  <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active list-group-item-secondary">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Ride offered</h5>
                            <small>Just Now</small>
                          </div>
                        <p class="mb-1">Depart date:                   </p>
                        <p class="mb-1">Origin and Destination:        </p>
                        <small class="text-small-right">read more</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Ride offered</h5>
                            <small class="text-muted">just now</small>
                          </div>
                          <p class="mb-1">Depart date: </p>
                          <p class="mb-1">Origin:  Destination: </p>
                          <small class="text-muted">read more</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Ride offered </h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Depart date: </p>
                        <p class="mb-1">Origin:  Destination: </p>
                        <small class="text-muted">read more</small>
                      </a>
                    </div>
                </div>


                <div class="col-lg-6">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active list-group-item-secondary">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Ride wanted</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Depart date: </p>
                    <p class="mb-1">Origin:  Destination: </p>
                    <small class="text-muted">read more</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Ride wanted</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Depart date: </p>
                    <p class="mb-1">Origin:  Destination: </p>
                    <small class="text-muted">read more</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Ride wanted</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Depart date: </p>
                    <p class="mb-1">Origin:  Destination: </p>
                    <small class="text-muted">read more</small>
                  </a>
                </div>
                </div>
              </div>



              <footer class="footer">
                <p>&copy; By ShootA</p>
              </footer>


  </div>  <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>
</html>
