{% extends "base_generic.html" %}

{% block content %}

<h1>InfoTrack DATABASE Home</h1>

  <p>Welcome to <em>InfoTrack</em>A social website you can exchange information with each other.</p>

<h2>Dynamic content</h2>

  <p>InfoTrack has the following record counts:</p>
  <ul>
    <li><strong>Users:</strong> {{ num_users }}</li>
    <li><strong>Posts:</strong> {{ num_posts }}</li>
    <li><strong>Videos:</strong> {{ num_videos }}</li>
    <li><strong>Pictures:</strong> {{ num_pictures }}</li>
  </ul>

{% endblock %}
